<div class="alert alert-secondary">
    <a class="btn btn-dark" href="/">Inicio</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/juegos">Listado de juegos</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/juegos/nuevo">Nuevo juego</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/auth/login">Login</a>
    &nbsp;&nbsp;
    <a class="btn btn-dark" href="/juegos">Administración</a>
</div>